@font-face {
	font-family: 'Rounded Elegance';
	src: url('RoundedElegance-Regular.woff2') format('woff2'), url('RoundedElegance-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}