@import url(./reset.css);
@import url(./fonts.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: var(--bg-white);
}

:root {
  --bg-white: #f8f8f8;
  --lite-grey: rgba(0, 0, 0, 0.3);
  --orange: #e17d21;
  --dark: #191a19;
  --grey: rgba(0, 0, 0, 0.7);
  --lite-green: #4e9f3d;
  --green: #1e5128;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

body {
  background-color: var(--bg-white);
}

.container {
  max-width: 1530px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 0 15px;
}

.header {
  width: 100%;
  height: 120px;
  margin-bottom: 50px;
}
.header__container {
}
.header__logo {
  margin-right: 45px;
}
.header__logo-img {
}
.nav {
  display: flex;
  gap: 30px;
  margin-right: 64px;
}
.header__nav {
}
.nav__link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  color: #000000;
}
.header__form {
}
.form {
  width: 100%;
  max-width: 300px;
  height: 43px;
  margin-right: auto;
}
.form-field {
  width: 100%;
  height: 100%;
  position: relative;
}
.form__input {
  width: 100%;
  height: 100%;
  background: #ffffff;
  /* Светло-серый */

  border: 1px solid var(--lite-grey);
  border-radius: 10px;
}

.form__icon {
  position: absolute;
  top: 50%;
  right: 14px;
  width: 24px;
  height: 24px;
  transform: translateY(-50%);
}

.header__socials {
}
.socials {
  margin-right: 11px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.socials__row {
  display: flex;
  gap: 5px;
}
.socials__icon {
}
.header__tel-box {
}

.tel-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}

.tel-box__num {
  font-family: "Roboto Flex";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */

  text-align: center;
}

.tel-box__text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.02em;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.header__tel-box-num {
  /* 70% */

  color: rgba(0, 0, 0, 0.7);
}
.header__tel-box-text {
  color: #000000;
}

/* HERO */

.hero {
  margin-bottom: 150px;
}
.container {
}
.hero__container {
  min-height: 842px;
  flex-direction: column;
  background-image: url(../assets/img/main-picture.jpg);
  background-position: bottom center;
  background-size: auto 700px;
  background-repeat: no-repeat;
  align-items: flex-start;
}
.hero__row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.hero__title {
  font-family: "Rounded Elegance";
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 92px;
  text-transform: uppercase;

  color: #000000;
}

.hero__title--green {
  color: var(--lite-green);
}
.hero__desc {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  max-width: 425px;
  color: #061d1c;
}
.hero__place-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;

  color: #000000;
}

/* ABOUT */

.about {
  margin-bottom: 150px;
}
.container {
}
.about__container {
  flex-direction: column;
  align-items: flex-start;
}
.about__heading {
}
.heading {
  font-family: "Rounded Elegance";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 57px;
  text-transform: uppercase;

  color: #000000;
}
.about__content {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 1115px;
  width: 100%;
}

.about__content-row {
  margin-top: 117px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.about__content-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  /* or 30px */

  /* 70% */
  max-width: 700px;
  color: rgba(0, 0, 0, 0.7);
}

.about__content-link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 76px;
  width: 200px;
  height: 200px;
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 100px;
}

.about__content-picture {
  width: 100%;
  max-width: 1115px;
}

.about__content-picture-img {
  width: 100%;
}

/* larch */

.larch {
  margin-bottom: 150px;
}
.container {
}
.larch__container {
  flex-direction: column;
  align-items: flex-start;
  gap: 60px;
}
.larch__heading {
  max-width: 699px;
}

.heading {
}

.larch__heading--green {
  color: var(--lite-green);
  margin-left: 27px;
}

.larch__content {
  width: 100%;
  justify-content: space-between;
  display: flex;
}
.larch__content-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 700px;
}
.larch-list {
}
.larch-list__item {
  width: 100%;
}
.larch-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 40px 19px 20px;
  border-top: 2px solid var(--lite-grey);
}

.larch-item:last-child {
  border-bottom: 2px solid var(--lite-grey);
}

.larch-item__link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  /* identical to box height */

  color: #000000;
}
.larch-item__icon {
}
.larch__content-info {
}
.larch__content-info-picture {
  margin-bottom: 40px;
}
.larch__content-info-picture-img {
}
.larch__content-info-desc {
  font-family: "Roboto Flex";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 140%;
  /* or 31px */
  max-width: 620px;
  letter-spacing: 0.01em;
  margin-bottom: 24px;
  color: #000000;
}
.larch__content-info-link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 140%;
  /* identical to box height, or 31px */

  letter-spacing: 0.01em;
  background: #e17d21;
  border-radius: 5px;
  padding: 15px 77px;
  color: #ffffff;
}

.properties {
  margin-bottom: 150px;
}
.container {
}
.properties__container {
  flex-direction: column;
  align-items: flex-start;
}
.properties__heading {
  max-width: 744px;
  margin-bottom: 60px;
}
.heading {
}
.properties__heading--green {
  color: var(--lite-green);
  margin-left: 383px;
}
.properties__list {
  display: flex;
  width: 100%;
  justify-content: center;
}

.properties__list-card {
}
.properties-card {
  padding: 60px 0;
  display: flex;
  width: 500px;
  height: 300px;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.properties-card::before {
  position: absolute;
  content: "";
  width: 480px;
  height: 0;
  border: 2px solid #000000;
  top: 0;
  left: 0;
}

.properties-card::after {
  position: absolute;
  content: "";
  width: 480px;
  height: 0;
  border: 2px solid #000000;
  bottom: 0;
  left: 0;
}

.properties-card__heading {
  font-family: "Rounded Elegance";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--dark);
  text-align: center;
  max-width: 462px;
  margin-bottom: auto;
  position: relative;
}

.properties-card__border {
  position: relative;
}

.properties-card__border::before {
  position: absolute;
  content: "";
  width: 0px;
  height: 250px;
  border: 2px solid #000000;

  top: -37px;
  left: -261px;
}

.properties-card__border::after {
  position: absolute;
  content: "";
  width: 0px;
  height: 250px;
  border: 2px solid #000000;
  top: -37px;
  left: 239px;
}

.properties-card__text {
  font-family: "Roboto Flex";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 140%;
  /* or 31px */

  text-align: center;
  letter-spacing: 0.01em;
  max-width: 402px;
  color: rgba(25, 26, 25, 0.8);
}

/* SERVICES */

.services {
  margin-bottom: 150px;
}
.container {
}
.services__container {
  align-items: start;
}
.services__heading {
  position: absolute;
}
.heading {
}
.services__list {
  justify-content: flex-start;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  row-gap: 70px;
  column-gap: 60px;
}
.services__card {
}

.services__card:first-child {
  margin-left: 519px;
}

.services__card-img {
  margin-bottom: 20px;
  width: 460px;
  height: 380px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.services__card-img--1 {
  background-image: url(../assets/img/services1.png);
}
.services__card-img--2 {
  background-image: url(../assets/img/services2.png);
}
.services__card-img--3 {
  background-image: url(../assets/img/services3.png);
}
.services__card-img--4 {
  background-image: url(../assets/img/services4.png);
}

.services__card-name {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  max-width: 374px;
  /* Dark */
  text-align: left;
  color: #191a19;
}

/* DISCOUNTS */

.discounts {
  margin-bottom: 139px;
}
.container {
}
.discounts__container {
  flex-direction: column;
  align-items: flex-start;
}
.discounts__head-row {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 72px;
}
.discounts__heading-section {
}
.heading {
}
.discounts__head-row-link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-decoration-line: underline;

  color: #000000;
}
.discounts__list {
  row-gap: 40px;
}

.cards-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

.discounts__list-card {
}
.discount-card {
  max-width: 352px;
}

.prod-card {
  display: flex;
  width: 100%;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 20px 20px 15px 20px;
}

.discount__card-picture {
}

.card-picture {
  height: 263px;
  width: 312px;
  margin-bottom: 12px;
}

.discount__card-heading {
  margin-bottom: 10px;
}

.card-heading {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
}

.discount__card-subheading {
  margin-bottom: 19px;
}

.card-subheading {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  color: #ffffff;
  width: max-content;
  padding: 3px 8px;
}

.discount__card-price {
  margin-bottom: 21px;
}

.card-price {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;

  /* Green dark */
  color: var(--green);
}

.discount__card-row {
  display: flex;
  justify-content: space-between;
}
.discount__card-row-link {
}

.card-link {
  background: #e17d21;
  border-radius: 5px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 140%;
  /* identical to box height, or 31px */

  letter-spacing: 0.01em;

  color: #ffffff;
  padding: 7px 60px 7px 54px;
}

.discount__card-value {
}

.discount-value {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 140%;
  /* identical to box height, or 31px */

  letter-spacing: 0.01em;
  background: #1e5128;
  border-radius: 5px;
  padding: 7px 16px;
  color: #ffffff;
}

/* CONNECT */

.connect {
  display: flex;
  min-height: 700px;
  height: 100%;
  width: 100%;
  margin-bottom: 100px;
}
.connect__title {
  background: #d8e9a8;
  width: 100%;
  max-width: 700px;
  display: flex;
  justify-content: center;
}
.connect__heading {
  margin-top: 80px;
  font-family: "Rounded Elegance";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 57px;
  text-transform: uppercase;

  color: #000000;
}
.heading {
}
.connect__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  /* Светло-серый */
  gap: 56px;
  border-width: 1px 0px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.3);
}
.connect__content-caption {
  font-family: "Rounded Elegance";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  max-width: 530px;
  /* Шрифт */

  color: #505050;
}
.connect__content-form {
  max-width: 650px;
  width: 100%;
}
.connect-form {
  display: flex;
  flex-direction: column;
}
.connect-form__fieldset {
  width: 100%;
  display: flex;
  gap: 50px;
  margin-bottom: 20px;
}
.connect-form__fieldset-input {
  width: 100%;
  max-width: 300px;
  height: 60px;
  border: none;
  border-bottom: 1px solid #8d8d8d;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 140%;
  /* identical to box height, or 35px */

  letter-spacing: 0.01em;

  color: #000000;
}

.connect-form__fieldset-input--contain {
  border-bottom: 1px solid #000000;
}

.connect-form__fieldset-input::placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 140%;
  /* identical to box height, or 35px */

  letter-spacing: 0.01em;

  /* Grey */

  color: #8d8d8d;
}

.connect-form__select {
  width: 100%;
  max-width: 300px;
  height: 60px;
  border: none;
  border-bottom: 1px solid #000000;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  /* identical to box height, or 28px */

  letter-spacing: 0.01em;

  color: #000000;
}

.connect-form__fieldset-text {
  margin-bottom: 30px;
}

.connect__textarea {
  width: 100%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 140%;
  /* identical to box height, or 35px */
  border: 1px solid #8d8d8d;
  letter-spacing: 0.01em;
  height: 149px;
  color: #000000;
}

.connect__textarea::placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  /* identical to box height, or 28px */

  letter-spacing: 0.01em;
  padding-top: 14px;
  padding-left: 26px;
  /* Grey */

  color: #8d8d8d;
}

.connetct-form__btn-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.connetct-form__btn-row-button {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 150%;
  /* identical to box height, or 33px */

  letter-spacing: 0.01em;
  border: none;
  color: #ffffff;
  background: #e17d21;
  border-radius: 5px;
  padding: 14px 65px;
}
.connetct-form__btn-row-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 130%;
  /* or 19px */
  max-width: 359px;
  /* Grey */

  color: #8d8d8d;
}

/* FOOTER */

.footer {
  background-color: var(--dark);
  height: 500px;
}
.container {
}
.footer__container {
  justify-content: space-between;
}
.nav {
}
.footer__nav {
  flex-direction: column;
}
.nav__link {
}

.nav__link--white {
  color: #fff;
}

.footer__md-col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer__logo {
  margin-bottom: 30px;
}
.footer__md-col-text {
  font-family: "Roboto Flex";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
  color: #ffffff;
}
.footer__md-col-link {
  font-family: "Roboto Flex";
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 35px;
  letter-spacing: 0.02em;
  text-decoration-line: underline;

  color: #ffffff;
}
.footer__last-col {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
}
.footer__form {
  width: 100%;
  margin-bottom: 44px;
}
.form {
}
.form-field {
}
.form__input {
}

.form__input--dark-bg {
  border: 1px solid #ffffff;
  background-color: transparent;
}

.form__icon {
}

.footer__form-icon path {
  fill: #fff;
  fill-opacity: 1;
}

.footer__social-icon path {
  fill: #fff;
  fill-opacity: 1;
}

.footer__contacts {
  display: flex;
  align-items: center;
}

.footer__socials {
}
.socials {
}
.socials__row {
}
.socials__icon {
}
.footer__tel-box {
}
.footer__tel-box-num {
  color: #ffffff;
}
.footer__tel-box-text {
  color: #ffffff;
}

/* CATALOG ------------------------------------------------------------------*/

.products__card {
  max-width: 480px;
}

.products__card-picture {
  height: 265px;
  width: 100%;
  margin-bottom: 10px;
}

.products__card-picture img {
  width: 100%;
  height: 100%;
}

.catalog-header {
  margin-bottom: 70px;
}

.crumbs {
  margin-bottom: 30px;
  display: flex;
  gap: 12px;
  align-items: center;
}
.crumbs__link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  /* 70% */

  color: var(--grey);
}
.products {
  margin-bottom: 120px;
}
.container {
}
.products__container {
  flex-direction: column;
  align-items: flex-start;
}
.products__heading {
  margin-bottom: 40px;
}
.heading {
}
.products__desc {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  /* or 30px */

  /* 70% */

  color: var(--grey);
  margin-bottom: 30px;
}
.cards-list {
}

.products__cards-list {
  row-gap: 40px;
  margin-bottom: 40px;
}

.products__card {
  position: relative;
}
.prod-card {
}
.card-picture {
}
.products__card-picture {
}
.products__card-heading {
  margin-bottom: 10px;
}
.card-heading {
}
.products__card-subheading {
  margin-bottom: 10px;
}
.card-subheading {
}
.products__card-row {
}
.products__card-price {
}
.card-price {
}
.products__card-link {
  position: absolute;
  bottom: 18px;
  right: 20px;
}

.card-link {
  max-width: min-content;
}

.products__bottom-link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-decoration-line: underline;
  align-self: center;
  color: #000000;
}

/* DISCOUNTS PAGE ----------------------------------------------*/
.discounts {
}
.container {
}

.discounts__crumbs {
  margin-bottom: 50px;
}

.discounts__container {
}
.discounts__heading {
  margin-bottom: 40px;
}
.heading {
}
.discounts__row-sale {
  margin-bottom: 40px;
}

.row-sale {
  background: #191a19;
  /* Светло-серый */
  min-height: 117px;
  align-items: center;
  padding: 0 30px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0px 7px 15px rgba(40, 54, 58, 0.15);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-image: url(../assets/img/row-sale-bg-red.png),
    url(../assets/img/row-sale-bg-blue.png);
  background-repeat: no-repeat;
  background-position: center left, center right;
}

.discounts__row-sale-text {
}

.row-sale__text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  /* or 30px */
  max-width: 545px;
  color: #ffffff;
}

.discounts-row-sale__link {
}

.row-sale__link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  padding: 13px 23px;
  /* Белый */
  background: #e17d21;
  border-radius: 5px;
  color: #ffffff;
}

/* DELIVERY PAGE =============================================================== */

.delivery {
  width: 100%;
}
.container {
}
.delivery__container {
  align-items: flex-start;
  gap: 40px;
}

.accordion {
  display: flex;
  flex-direction: column;
  padding: 10px 15px 15px 15px;
  max-width: 355px;
  background: #ffffff;
  border-radius: 10px;
}

.accordion__heading {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 23px;

  text-transform: uppercase;

  color: #000000;
  padding: 11px 31px 11px 20px;
}

.accordion .accordion-content {
  /* background: #ffffff;
  box-shadow: 0px 0px 20px rgba(66, 74, 72, 0.05);
  border-radius: 18px;
  padding: 0px 32px; */
  overflow: hidden;
  background: #ffffff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.accordion .accordion-content:last-child {
  border: none;
}

.accordion-content.open {
  padding-bottom: 230px;
}

.accordion-content.open .accordion-content__title {
}

.accordion-content.open .accordion__icon {
  transform: rotate(45deg);
}

.accordion__icon {
  transition: 0.3s;
}

.accordion-content header {
  display: flex;
  /* min-height: 50px; */
  /* padding: 19px 20px; */
  cursor: pointer;
  padding: 19px 20px;
  align-items: center;
  justify-content: space-between;
  transition: all 0.2s linear;
}
.accordion-content.open header {
  /* min-height: 35px; */
}
.accordion-content__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;

  color: #000000;
}

.accordion-content__description {
  height: 0;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  padding-left: 20px;
  letter-spacing: -0.007em;

  color: #1e1f1f;

  transition: all 0.2s linear;
}

/* .catalog-menu {
  display: flex;
  flex-direction: column;
  padding: 10px 15px 15px 15px;
  min-width: 355px;
  background: #ffffff;
  border-radius: 10px;
}
.delivery__catalog-menu {
}
.catalog-menu__heading {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  

  text-transform: uppercase;

  color: #000000;
  padding: 11px 31px 11px 20px;
}
.catalog-menu__list {
  display: flex;
  flex-direction: column;
}
.catalog-menu__item {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 19px 20px 19px 20px;
  align-items: center;
  background: #ffffff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.catalog-menu__item:last-child {
  border-bottom: none;
}

.catalog-menu__link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  

  color: #000000;
}
.catalog-menu__icon {
} */

.delivery-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-image: url(../assets/img/location-filled.png);
  background-position: top right;
  background-repeat: no-repeat;
}

.heading {
}
.delivery-content__heading {
  margin-bottom: 40px;
}
.delivery-content__text1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  max-width: 761px;
  color: #000000;
  margin-bottom: 30px;
}
.delivery-content__text2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  /* or 30px */

  /* 70% */
  max-width: 700px;
  color: var(--grey);
  margin-bottom: 30px;
}
.delivery-content__list {
  margin-bottom: 40px;
}

.conditions-list {
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
}

.delivery-contents__list-item {
}

.conditions-list__item {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  /* identical to box height, or 30px */
  padding-left: 50px;
  color: #000000;
  position: relative;
}

.conditions-list__item::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  background-image: url(../assets/icons/delivery-list-check.svg);
  background-repeat: no-repeat;
  left: 0;
  top: 5px;
}

.delivery-content__image {
  width: 100%;
  height: 590px;
  background-image: url(../assets/img/delivery-content-img.png);
  margin-bottom: 70px;
}

.delivery-conditions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.section-subheading {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  /* identical to box height */

  align-self: center;
  color: #000000;
  margin-bottom: 30px;
}

.delivery-conditions__subheading {
}

.dilivery-conditions__list {
  margin-bottom: 70px;
}

.delivery-price {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 120px;
}

.table {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.delivery-contents__table {
  margin-bottom: 70px;
}
.table__row {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 0 0 24px;
}
.table__row--black {
  background-color: var(--dark);
  border-radius: 5px;
  gap: 181px;
  padding: 0 30px 0 23.5px;
}
.table__column-heading {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  /* identical to box height */
  color: #ffffff;
}

.table__heading-wrapper {
  display: flex;
  justify-content: space-between;
  transform: translateY(-3px);
  max-width: 731px;
  width: 100%;
}

.table__column-value {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  min-width: 140px;
  text-align: center;
  color: #000000;
  white-space: nowrap;
}

.table__column-value--mrright1 {
  margin-right: 182px;
}

.table__column-value--mrright2 {
  margin-right: 147px;
}

.table__column-value--mrright3 {
  margin-right: 144px;
}

.delivery-content__link {
  font-family: "Roboto Flex";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  /* identical to box height, or 30px */
  max-width: fit-content;
  align-self: center;
  letter-spacing: 0.01em;
  background: #e17d21;
  border-radius: 5px;
  padding: 10px 23px;
  color: #ffffff;
}

sup {
  font-style: normal; /* Нормальное начертание */
  font-size: 0.6em; /* Размер индекса */

  vertical-align: 0.8em; /* Сдвигаем текст вверх */
}

/* ABOUT PAGE --------------------------------------------------------------*/

.aboutp__container {
  align-items: flex-start;
  gap: 44px;
}

.aboutp-content {
}
.heading {
}
.aboutp-content__heading {
  margin-bottom: 40px;
}
.aboutp-content__top {
  display: flex;
  min-height: 398px;
  background-image: url(../assets/img/about-top-img.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  margin-bottom: 100px;
}
.aboutp-content__top-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  /* or 30px */

  /* 70% */
  max-width: 500px;
  color: var(--grey);
}
.aboutp-content-bottom {
}
.aboutp-content-bottom-img {
  width: 100%;
  height: 500px;
  background-image: url(../assets/img/about-bottom-img.png);
  margin-bottom: 30px;
}
.aboutp-content-bottom-text {
  width: 100%;
  display: flex;
  gap: 24px;
}
.aboutp-content-bottom-desc {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  /* or 30px */

  /* 70% */
  max-width: 540px;
  color: var(--grey);
  margin-bottom: 100px;
}
.other {
  width: 100%;
  margin-bottom: 120px;
}
.other__heading {
  margin-bottom: 40px;
}

.other-list {
  display: flex;
  width: 100%;
  justify-content: end;
  gap: 30px;
}
.other-list__item {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 400px;
  width: 100%;
}
.other-list__item-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  /* or 30px */

  /* 70% */
  color: var(--grey);
}
.other-list__item-image {
  background-repeat: no-repeat;
  background-size: contain;
  width: 400px;
  height: 500px;
}
.other-list__item-image-1 {
  background-image: url(../assets/img/other1.png);
}
.other-list__item-image-2 {
  background-image: url(../assets/img/other2.png);
}

/* CONTACTS PAGE__________________________________________________________________ */

.contactsp {
}
.container {
}
.contactsp__container {
  flex-direction: column;
  align-items: flex-start;
}
.heading {
}
.contactsp__heading {
}
.contactsp__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 30px;
  margin-bottom: 50px;
}
.contactsp__row {
  width: 100%;
  max-width: 1000px;
  display: flex;
  align-items: center;
}
.contactsp__row-name {
  width: 100%;
  max-width: 360px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 150%;
  /* identical to box height, or 33px */

  letter-spacing: 0.01em;

  /* 70% */

  color: var(--grey);
}

.contactsp__row-name--start {
  align-self: flex-start;
}

.contactsp__row-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 150%;
  /* or 33px */

  letter-spacing: 0.01em;

  color: #000000;
}

.contactsp__row-text--width {
  max-width: 637px;
}

.contactsp__row-socials {
  display: flex;
  align-items: center;
  gap: 20px;
}

.contactsp__row-socials a svg path {
  fill: #000000;
  fill-opacity: 1;
}

.contactsp__row-link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  letter-spacing: 0.02em;
  text-decoration-line: underline;
  text-transform: uppercase;

  color: #000000;
}
.map {
  align-self: flex-end;
  margin-bottom: 120px;
}

/* PRODUCT-CARD PAGE ____________________________________________________
 */

.commodity__container {
  align-items: flex-start;
  gap: 40px;
}

.commodity__content {
  width: 100%;
}
.commodity__product {
  margin-bottom: 80px;
  display: flex;
  gap: 30px;
}

.commodity-product__picture {
  height: 400px;
  width: 400px;
}
.commodity-product__img {
  height: 100%;
  width: 100%;
}
.commodity-product__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.commodity-product__heading {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 50px;
  color: #000000;
}
.commodity-product__desc {
}
.product-desc {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  margin-bottom: 34px;
}
.product-desc__property {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  /* identical to box height, or 33px */

  letter-spacing: 0.01em;

  color: rgba(0, 0, 0, 0.7);
}

.fs22 {
  font-size: 22px;
}
.product-desc__dot {
  color: rgba(0, 0, 0, 0.3);
}
.product-desc__value {
  color: #000000;
}
.commodity-product__text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  /* identical to box height, or 30px */

  /* Green */

  color: #4e9f3d;
  margin-bottom: 37px;
}
.commodity-product__btn {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  /* identical to box height */
  background: #e17d21;
  border-radius: 5px;
  /* Белый */
  padding: 16px 30px;
  color: #ffffff;
}

.commodity__menu {
  margin-bottom: 80px;
}
.commodity-menu {
  display: flex;
  width: 100%;
  height: 80px;
  align-items: center;
  gap: 24px;
  background: #ffffff;
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 0 30px;
}
.commodity-menu__text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  /* identical to box height, or 30px */

  color: #000000;
}
.commodity-menu__list {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.commodity-menu__item {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  /* Белый */

  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #191a19;
  border-radius: 15px;
  width: 89px;
  height: 39px;
}
.commodity-menu__item--disable {
  background: rgba(25, 26, 25, 0.5);
}

.commodity__table {
  margin-bottom: 70px;
}

.commodity__table-row {
  padding-left: 60px;
  gap: 0;
}
.commodity__table-row--black {
}

.commodity__table-column-heading {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  /* identical to box height, or 30px */

  color: #ffffff;
}

.table-column-heading--mrright1 {
  margin-right: 123px;
}
.table-column-heading--mrright2 {
  margin-right: 122px;
}
.table-column-heading--mrright3 {
  margin-right: 120px;
}
.table-column-heading--mrright4 {
}

.commodity__table-column-value--font1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  color: #000000;
}

.commodity__table-column-value--font2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  /* identical to box height, or 27px */

  letter-spacing: 0.01em;

  color: #000000;
}

.commodity__table-column-value--font3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 150%;
  /* identical to box height, or 33px */

  letter-spacing: 0.01em;

  color: #000000;
}

.commodity__table-column-value--font4 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 150%;
  /* identical to box height, or 33px */

  letter-spacing: 0.01em;

  color: #000000;
}

.commodity__table-column-value--mrright1 {
  margin-right: 81px;
}
.commodity__table-column-value--mrright2 {
  margin-right: 141px;
}
.commodity__table-column-value--mrright3 {
  margin-right: 166px;
}
.commodity__table-column-value--mrright4 {
  margin-right: 91px;
}
.commodity__table-link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  background-color: var(--green);
  border-radius: 5px;

  width: 121px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.commodity__table-row:nth-child(odd):not(:first-child) {
  background: rgba(0, 0, 0, 0.1);
}

.commodity-info {
  width: 100%;
  margin-bottom: 70px;
}
.section-subheading {
}
.commodity__subheading {
}
.commodity-info__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 25px 20px;
  background: #ffffff;
  box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  gap: 20px;
}

.commodity-info__text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  /* identical to box height, or 30px */
  position: relative;
  color: #000000;
  padding-left: 35px;
}

.commodity-info__text::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  top: 5px;
  left: 0;
  background: var(--lite-green);
  border-radius: 10px;
}

.commodity-info__link {
  color: #007abe;
}

.commodity__row-sale {
  margin-bottom: 70px;
}

.commodity-conditions {
  margin-bottom: 70px;
}

.commodity-cards {
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  position: relative;
}

.swiper {
  max-width: 1104px;
}

.swiper-slide {
  width: 100%;
}

.swiper {
  width: 100%;
}

.swiper-wrapper {
  width: 100%;
}
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper__card-price {
  margin-bottom: 20px;
}

.swiper-card {
  max-width: 352px;
  background: #ffffff;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.swiper__card-link {
  width: 100%;
  max-width: none;
  text-align: center;
}

.swiper-left {
  position: absolute;
  right: 71px;
  cursor: pointer;
}
.swiper-right {
  cursor: pointer;
  position: absolute;
  right: 4px;
}

.commodity-swiper {
  margin-bottom: 140px;
}
